body {
    width: 1260px;
    height: 1000px;
    background: url("http://files.all-free-download.com//downloadfiles/wallpapers/1920_1200/abstract_color_background_picture_8016_5582.jpg");
    background-position: center;
    background-repeat: repeat;
    margin: 0 auto;
}
#form {
    margin-left: 3px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainBtn {
    margin-left: 110px;
}
h1 {
    color: white;
    margin-top: 20px;
}
#topic-btn {
    margin-left: 160px;
}
button {
    margin: 5px;
    border: 3px solid green;

}
button:hover {
    background: gray;
   
}
p {
    color: white;
}
img {
    border: 3px solid green;
}
